mixin join_discord_button(title="Przyłącz się do nas na Discordzie!")
  a(href="https://discord.com/invite/C7b4JNvw3a", target="_blank")
    button.btn-discord=title

mixin fancyBox(edges = [])
    .lines-wrapper
      .box&attributes(attributes)
        block
      if edges.indexOf("top") !== -1
        .top-lines
      if edges.indexOf("bottom") !== -1
        .bottom-lines
      if edges.indexOf("left") !== -1
        .left-lines
      if edges.indexOf("right") !== -1
        .right-lines

mixin event(info, edges, data)
  article
    .circle
    +fancyBox(edges)&attributes(attributes)
      .top
        .top__left 
          h3.sub-title #{info.title}
          h4.date Kiedy: 
            span #{info.date}
          h4.hours O której: 
            span #{info.hours}
          h4.where Gdzie: 
            span #{info.online ? 'Online' : 'Offline + streaming'}
        if info.title === 'Hacktoberfest: wprowadzenie'       
          .top__right
          
            h3.offline-info Wydarzenie offline będzie odbywało się w:
              address
                p Gdańskim Inkubatorze Przedsiębiorczości STARTER
                p ul. Lęborska 3b
                p 80-386 Gdańsk
              h4(style="font-size: 1.25rem; font-weight: bold")   
                a(href="https://www.meetup.com/pl-PL/hs3city/events/281191703/") 
                  button.btn-meetup Zapisy
            

      if block
        details.bottom 
          summary Agenda
          block
      else 
        .bottom
          +join_discord_button




mixin logo(url, name, alt, loading, className)  
  a(href=url, target="_blank")  
    img(src="/assets/img/" + name, alt=alt, loading="lazy")

